<h1>Pokedex</h1>

<div class="pokemon-list">
	<% @pokemon.each do |pkmn| %>
	<div class="pokemon-card">
		<div class="pokemon-title">
			<a href="/pokedex/<%= pkmn.name %>"><%= pkmn.name %></a>
		</div>
		<div class="pokemon-image">
			<a href="/pokedex/<%= pkmn.name %>"><img src="<%= pkmn.img_url %>" /></a>
		</div>
		<div class="pokemon-footer">
			<a href="/pokedex/<%= pkmn.name %>" class="pokemon-button primary">View</a>
			<a href="/pokedex/<%= pkmn.name %>/edit" class="pokemon-button">Edit</a>
		</div>
	</div>
	<% end %>
</div>
