<h1>Pokedex Entry</h1>

<div class="pokemon-list">
	<div class="pokemon-card big">
		<div class="pokemon-title">
			<span><%= @pokemon.name %></span>
			<span class="pokemon-type"><%= @pokemon.poke_type %></span>
			<span><%= @pokemon.cp %></span>
		</div>
		<div class="pokemon-image">
			<img src="<%= @pokemon.img_url %>" />
		</div>
		<div class="pokemon-footer">
			<a href="/pokedex/<%= @pokemon.name %>/edit" class="pokemon-button">Edit</a>
			<form action="/pokedex/<%= @pokemon.name %>" method="post">
				<input type="hidden" name="_method" value="delete" />
				<button type="submit" class="pokemon-button warning">Delete <%= @pokemon.name %></button>
			</form>
		</div>
	</div>
</div>
